*{
  box-sizing:border-box;
}
html,body{
  height:100%;
  position: fixed;
  top:0;left:0;bottom:0;right:0;
}
body{
  font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  background:linear-gradient(to right, #606c88, #3f4c6b);
  color:black;
}

.main-title{
  font-size:15px;
}

header{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:40px;
  border-bottom:1px solid white;
  color:white;
  padding: 0px 10px;
  background:rgba(255,255,255,0.5);

  display:flex;
  align-items:center;
  justify-content: space-between;
}

.logo {
  height:24px;
  margin-right:10px;
}

.text-input-wrap{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:48px;
  border-top:1px solid white;
  background:rgba(255,255,255,0.2);
}

.text-input{
  border:1px solid black;
  width:100%;
  border-radius:15px;
  padding:0 5px;
  position:absolute;
  left:4px;
  top:4px;
  height:32px;
  outline:none;
}
.text-input:focus{
  border: 1px solid white;
  background: rgba(0,0,255,0.04);
}
.button:hover{
  background:white;
  color:white;
}
.button:focus{
  outline: none;
  border:1px solid white;
}
.button:disabled{
  color:white;
  background:grey;
}

.button{
  cursor:pointer;
  position:absolute;
  right:4px;
  top:8px;
  border-radius:50px;
}

.messages{
  height:calc(100vh - 96px);
  width:100vw;
  position: absolute;
  top:48px;
  left:0px;
  display:flex;
  flex-direction: column-reverse;
  overflow-y:auto;
}
.message-wrap{
  width:100%;
  display:flex;
  justify-content: flex-start;
}
.message-wrap[from='me']{
  justify-content: flex-end;
}
.msg-text{
  color:white;
  background:black;
  margin:5px;
  border-radius:5px;
  padding:3px 6px;
  display: inline-block;
}
.msg-name{
  font:11px;
  position:absolute;
  top: -8px;
  left: 5px;
}
.edit-username{
  display: flex;
  align-items: center;
}
.name-button{
  height:29px;
  margin:0 6px;
  background:transparent;
  color:white;
  font-size:20px;
  padding:4px;
  cursor: pointer;
  border:none;
  outline:none;
}
.name-button:hover{
  background:rgba(255,255,255,0.1)
}
.name-input{
  color:white;
  height:31px;
  border:1px solid white;
  border-radius:14px;
  padding-left:12px;
  background:#1f1e2e;
  padding-bottom:2px;
  font-size:12px;
}
.username{
  display: flex;
  align-items: center;
  margin-right:12px;
  font-size:1.1rem;
}
.message{
  margin-top: 10px;
  position: relative;
}